<div class="container">
  <div class="container__newTask-and-recyclerbin">
    <div class="container__newTask">
      <app-task (newTaskEvent)="onNewTaskEvent($event)"></app-task>
    </div>

    <div class="container__recyclerbin">
      <h3>♻️ Papelera</h3>
      <app-recycler-bin
        [currentList]="taskList"
        (restoreTaskEvent)="onDeletedEvent($event)"
      ></app-recycler-bin>
    </div>
  </div>

  <div class="container__taskList">
    <app-task-list
      [currentList]="taskList"
      (completedEvent)="onCompletedEvent($event)"
      (deletedEvent)="onDeletedEvent($event)"
    ></app-task-list>
  </div>
</div>
