<div class="grid">
  <div
    *ngFor="let t of currentList"
    [ngClass]="{
      task: true,
      complete: t.completed,
      incomplete: !t.completed,
      deleted: t.deleted
    }"
  >
    <div class="task-title-description">
      <div class="task__title"><span>Titulo: </span>{{ t.title }}</div>
      <div class="task__description">
        <span>Descripción: </span>{{ t.description }}
      </div>
    </div>
    <div>
      <button (click)="onClickComplete(t, $event)">Completar</button>
      <button (click)="onClickDelete(t)" class="delete">Eliminar</button>
    </div>
  </div>
</div>
