<div *ngFor="let item of currentList; let i = index">
  <ng-container *ngIf="item.deleted">
    <div class="container">
      <div class="container__info">
        <p class="container__task">
          Título: <span>{{ item.title }}</span>
        </p>
        <p class="container__task-desc">Descripción:</p>
        <p>{{ item.description }}</p>
      </div>
      <div class="container__buttons">
        <button class="container__restore" (click)="onClickDelete(item)">
          Restaurar
        </button>
        <button class="container__restore delete" (click)="onClickDestroy(i)">
          Borrar
        </button>
      </div>
    </div>
    <hr class="line" />
  </ng-container>
</div>
